.bandspace {

  background-color: white;
  border-radius: 5px;
}


.bandspace h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0 ;
}

.bandspace .host-capacity-price {
  display: flex;
  // align-items: left;
  font-size: 15px;
  margin-bottom: 10px ;
  flex-wrap: wrap;

}

#capacity{
  margin-right: 10px;
}

.img-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
  vertical-align: center;
}

.bandspace .info-and-booking {
  margin-bottom: 20px;
  margin-top: 20px;
}

.bandspace .description p {
  margin-bottom: 10px;
  font-size: 18px;
}

.bandspace .backspace {
  margin-left: auto;
}

.band-cont{
  padding: 25px 10px 40px 10px;

}

.bandspace .make-a-booking {
  margin-top: 20px;
  padding-bottom: 10px;
}

.bandspace .form-label-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bandspace .form-label-price h3 {
  margin: 0;
}

.bandspace .form-label-price p {
  margin: 0;
}

.mapboxgl-popup-content {
  text-decoration: none;
}

.booking-confirmation-styling{
  margin: 30% 0 30% 0;
  color: black;
  align-content: center;
  align-items: center;
  text-align: center;
  .booking-details{
    margin-top: 20px;
  }
}

.where{
  margin: 40px 0 20px 0;
  h3{
    font-weight: bolder;
  }
}

.when{
  margin: 20px 0 40px 0;
  h3{
    font-weight: bolder;
  }
}

/* Media Queries for Responsive Design */
/* Mobile (up to 767px) */
@media (max-width: 479px) {
  .bandspace{
   max-width: 90%;
 }
}


/* Mobile Landscape (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  .bandspace{
   max-width: 80%;
 }
}

/* Tablet Portrait (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

  .bandspace{
   max-width: 70%;
 }
}

/* Tablet Landscape (992px to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .bandspace{
   max-width: 60%;
 }
}

/* Desktop (1200px to 1599px) - No specific changes for this size range */

@media (min-width: 1200px) and (max-width: 1599px) {
  .bandspace{
   max-width: 50%;
 }
}

/* Large Desktop (1600px and above) */
@media (min-width: 1600px) {
  .bandspace{
   max-width: 40%;
 }
}
