<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=2940&amp;q=80);">
  <h1 class="header">Welcome to Jamm</h1>
  <p>Find likeminded musicians near you to jam with, make music and form bands</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-banner" %>
</div>
