<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1621784166258-c6fdfff31879?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);">
  <h1 class="header">Make <span id="header-words"> music. </span></h1>
  <p>The place to find likeminded musicians near you</p>
   <%= link_to "Sign up", new_user_registration_path, class: "btn btn-banner" %> 
</div>
