<div class="container-box">

  <div class="header-padding">
    <h2 class="header"> What genres do you like? </h2>
  </div>

  <div class="form-padding">
    <%= simple_form_for @usergenre do |f| %>
      <%= f.association :genre, label_method: :genre, value_method: :id, as: :check_boxes, multiple: true %>
      <%= f.button :submit, 'Next', class: "btn-main" %>
    <% end %>
  </div>

  <div>
    <%# update below route to browse matches %>
    <%= link_to "Skip", matches_path, class: "btn-discrete" %>
  </div>

</div>
