<div>
  <% if @users.empty? %>
    <div class="notice-padding">
      <h3 class="body"> You haven't got any matches yet </h3>
      <%= link_to "Find your first match now", matches_path, class: "btn btn-main" %>
    </div>
  <% else %>
    <div>
      <% @users.each do |user| %>
        <div class="card-product d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <% if profile.photourl.key %>
                <%=  cl_image_tag profile.photourl.key, crop: :fill, class: "avatar-profile" %>
              <% else  %>
                <img class="avatar-profile" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" srcset="">
              <% end %>
            </div>
            <div class="card-product-infos d-flex flex-column justify-content-center">
              <h2> <%= user.name %></h2>
            </div>
          </div>
          <div>
            <%# # should this be matches or users show path? %>
            <%= link_to "View profile", show_user_path(user.id), class: "btn btn-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
