<div class="container" data-controller="matches">
  <div class="loader-wrapper"  data-controller="loader" data-loader-target="loaderWrapper">
    <span class="loader"><span class="loader-inner">J</span></span>
  </div>

  <% @profiles.each do |profile| %>
    <div class="profile-card" data-matches-target="profile">
      <!-- Display profile details -->
      <%= render 'profile_card', profile: profile %>
      <div class="connect-next">
        <%= button_to 'Connect',
                       approve_matches_path(profile_id: profile.id),
                       method: :post, remote: true,
                       class: 'btn-main',
                       id: "connect" %>
        <%= button_to 'Next',
                     decline_matches_path(profile_id: profile.id),
                     method: :post,
                     remote: true,
                     class: 'btn-main decline-button',
                     id: "next" %>
      </div>
    </div>
  <% end %>
</div>
