
<div class="container">
<%# @profiles.each do |profile| %>
<%#= render :partial => 'profile_card', locals:{profile: profile }%>
<%# end%>
  <%= render :partial => 'profile_card', locals:{profile: @profiles.first }%>
</div>

<div class="connect-next">
  <button class="connect btn-main">Connect</button>
  <button class="next btn-main">Next</button>
</div>


<%#  %>
<%# <div data-controller="carousel" class="swiper-container">
  <div class="swiper-wrapper"> %>

  <%# </div>
</div> %>
