.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-chat {
  vertical-align: middle;
  width: 50px !important;
  height: 50px !important;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 10px;
   img{
    width: 100%;
    margin-top: -25px;
   }
  }

.nav-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-left: 10px;
}

.avatar-large {
  vertical-align: middle;
  width: 56px;
  border-radius: 50%;
}

.avatar-profile {
  vertical-align: middle;
  width:175px;
  height:175px;
  overflow: hidden;
  border-radius: 50%;
   img{
    width: 100%;
    margin-top: -25px;
   }
}

.avatar-profile-me {
  vertical-align: middle;
  width:125px;
  height:125px;
  overflow: hidden;
  border-radius: 50%;
   img{
    width: 100%;
    margin-top: -25px;
   }
}


.avatar-bordered {
  vertical-align: middle;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
