.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 38px;
  font-weight: bold;
  width: 80%;
  position: static;
  margin: 10px 10%;
}

.banner p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: 10px 10% 5% 10%;
}
