.btn-main {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 10px;
  background: $dark-grey;
  font-weight: 500;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.btn-main:disabled {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $mid-grey;
  font-weight: 500;
}

.btn-discrete {
  color: $mid-grey;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
}
