.top-buffer {
  margin-top: 54px;
}

.container-box {
  width: 80%;
  margin: 0 auto;
}

.header-padding {
  padding-top: 50px;
}

.form-padding {
  padding-top: 30px;
}

.form-inner-padding {
  padding-top: 15px;
}

.notice-padding {
  padding-top: 20%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Media Queries for Responsive Design */
/* Mobile (up to 767px) */
@media (max-width: 479px) {
  .notice-padding{
   padding-top: 70%;
 }
}


/* Mobile Landscape (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  .notice-padding{
   padding-top: 40%;
 }
}

/* Tablet Portrait (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

  .notice-padding{
   padding-top: 30%;
 }
}
