.header {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.profile-bio {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.match-header {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.match-body {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

p {
  margin-bottom: 0;
}

.location {
  color: $mid-grey;
  font-size: medium;
  margin-left: 10px;
}
