.nav-item {
  margin: 5px;
  padding: 10px 0px;
  justify-content: left;
}

.nav-link {
  padding: 0px;
}

.navbar-light {
  border-bottom: 1px solid $very-light-grey;
}

.container-fluid {
  margin-top: 5px;

  img {
    width: 40px;
  }
}

.navbar-toggler {
  margin-right: 10px;
  border: 0px solid white;
  padding: 0px;
}

.navbar {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.navbar-brand {
  margin: 0px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler-icon {
  height: 25px;
}
