.container-profile {
  background-color: white;
}

.profile-pic-name{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name {
  padding-top: 10px;
}

.about-me {
  padding-top: 10px;
}

.about-me {
  padding-top: 15px;
}

.profile>h6 {
  font-weight: 700;
  font-size: 32px;
  text-decoration: underline;
}

.profile{
  height: 90vh;
  margin: 20px;
}
