

.profile-pic-name{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile>h6 {
  font-weight: 700;
}

.profile>div{
  padding: 10px;
}
