<div class="container-box">

  <div class="header-padding">
    <h2 class="header"> What instruments do you play? </h2>
  </div>

  <div class="form-padding">
    <%= simple_form_for @userinstrument do |f| %>
      <%= f.association :instrument, label_method: :instrument, value_method: :id, as: :radio_buttons %>
      <%= f.button :submit, 'Next', class: "btn-main" %>
    <% end %>
  </div>

  <div>
    <%# update below route to browse matches %>
    <%= link_to "Skip", matches_path, class: "btn-discrete" %>
  </div>
</div>
